{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
'contact-intro',
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="container">
	    {{ title_prefix }}
	    {% if label %}
	        <h4{{ title_attributes }}>{{ label }}</h4>
	    {% endif %}
	    {{ title_suffix }}
	    {% block content %}
	        {{ content }}
	    {% endblock %}
	</div>
</div>